.custom-control {
  position: relative;
  display: block;
  min-height: 24px;
  padding-left: 24px; }

.custom-control-inline {
  display: inline-flex;
  margin-right: 16px; }

.custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #00aeef;
  background-color: transparent;
  border: 1px solid #b4b4b4; }

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 4px rgba(0, 123, 255, 0.25); }

.custom-control-input:active ~ .custom-control-label::before {
  color: #fff;
  background-color: transparent;
  border: 1px solid #b4b4b4; }

.custom-control-input:disabled ~ .custom-control-label {
  color: #6c757d; }

.custom-control-input:disabled ~ .custom-control-label::before {
  background-color: #e9ecef;
  background-color: transparent;
  border: 1px solid #b4b4b4; }

.custom-control-label {
  margin-bottom: 0;
  font-weight: normal;
  font-size: 15px; }

.custom-control-label::before {
  position: absolute;
  top: 4px;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  pointer-events: none;
  content: "";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #dee2e6;
  background-color: transparent;
  border: 1px solid #b4b4b4; }

.custom-control-label::after {
  position: absolute;
  top: 4px;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%; }

.custom-checkbox .custom-control-label::before {
  border-radius: 0px; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #00aeef; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E"); }

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
  background-color: #00aeef; }

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E"); }

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: rgba(0, 123, 255, 0.5); }

.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
  background-color: rgba(0, 123, 255, 0.5); }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.preloade span {
  background: #00aeef;
  background: linear-gradient(to right, #00aeef, #1387cf); }

.btn-reverse {
  background-color: #00aeef;
  color: #fff; }
  .btn-reverse:hover {
    background-color: #fff;
    color: #00aeef; }

.logo-text {
  font-family: "Muli", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #363636; }
  .logo-text img {
    width: 100px; }

@media (max-width: 768px) {
  .section-pd-top-2 {
    padding-top: 40px; } }

@media (max-width: 768px) {
  .space-30, .space-60 {
    display: none; } }

@media (max-width: 768px) {
  .section-padding {
    padding-top: 40px;
    padding-bottom: 40px; } }

body {
  color: #22233b; }

.list_text {
  margin-bottom: 60px; }
  .list_text .heading-1 {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 20px; }
  .list_text .heading-2 {
    font-weight: bold;
    margin-bottom: 5px; }
  .list_text .text {
    line-height: 1.8;
    margin-bottom: 20px; }

@media (max-width: 768px) {
  .page-title {
    text-align: center !important; } }

.mainmenu-area.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.mainmenu-area .navbar-brand {
  padding: 10px 15px;
  height: auto; }
  .mainmenu-area .navbar-brand img {
    width: 100px; }

.mainmenu-area #mainmenu .navbar-bttn {
  font-size: 18px;
  padding: 6px 25px; }

.mainmenu-area #mainmenu .navbar-right .navbar-bttn {
  margin-top: 10px; }

.mainmenu-area #mainmenu .navbar-child-right {
  float: right !important; }

@media (min-width: 768px) {
  .mainmenu-area #mainmenu .navbar-child-left {
    float: left !important; } }

.mainmenu-area #mainmenu .navbar-left li.active a, .mainmenu-area #mainmenu .navbar-child-right li.active a, .mainmenu-area #mainmenu .navbar-child-left li.active a {
  color: #00aeef; }

.mainmenu-area #mainmenu .navbar-left a, .mainmenu-area #mainmenu .navbar-child-right a, .mainmenu-area #mainmenu .navbar-child-left a {
  color: #22233b;
  font-size: 18px;
  font-weight: bold; }
  .mainmenu-area #mainmenu .navbar-left a:hover, .mainmenu-area #mainmenu .navbar-child-right a:hover, .mainmenu-area #mainmenu .navbar-child-left a:hover {
    color: #00aeef; }

@media (max-width: 768px) {
  .mainmenu-area #mainmenu .navbar-right .navbar-child-left {
    margin-bottom: 0px; }
  .mainmenu-area #mainmenu .navbar-left {
    margin-top: 0px; } }

#home-page {
  background: none; }
  @media (min-width: 992px) {
    #home-page {
      padding-bottom: 50px;
      height: auto;
      padding-top: 180px; } }
  @media (max-width: 768px) {
    #home-page {
      padding-bottom: 80px; } }
  #home-page .headline {
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 40px;
    line-height: 1.3; }
  @media only screen and (max-width: 767px) {
    #home-page .channel_logo .link_channel_logo img {
      width: 50px; } }
  @media only screen and (max-width: 390px) {
    #home-page .channel_logo .link_channel_logo img {
      width: 35px; } }
  #home-page .channel_logo .arrow_icon {
    margin-left: 25px;
    margin-right: 25px; }
    @media only screen and (max-width: 767px) {
      #home-page .channel_logo .arrow_icon {
        margin-left: 10px;
        margin-right: 10px; }
        #home-page .channel_logo .arrow_icon img {
          width: 45px; } }
    @media only screen and (max-width: 390px) {
      #home-page .channel_logo .arrow_icon {
        margin-left: 5px;
        margin-right: 5px; }
        #home-page .channel_logo .arrow_icon img {
          width: 35px; } }

.service-area .col-why {
  padding-right: 45px; }
  @media (min-width: 768px) {
    .service-area .col-why {
      min-height: 185px; } }
  @media (max-width: 768px) {
    .service-area .col-why {
      padding-right: 15px; } }

@media (min-width: 768px) {
  .service-area .col-custom-why {
    min-height: 185px; } }

.service-area .single-why {
  margin-bottom: 50px;
  text-align: center; }
  @media (max-width: 768px) {
    .service-area .single-why {
      text-align: center; }
      .service-area .single-why img {
        margin: 0 auto; } }
  .service-area .single-why .why-icon {
    height: 60px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .service-area .single-why .why-title {
    color: #363636;
    line-height: 1.3;
    font-size: 18px; }
    @media (max-width: 768px) {
      .service-area .single-why .why-title {
        font-size: 14px; } }
    @media (max-width: 992px) {
      .service-area .single-why .why-title {
        font-size: 16px; } }

#about-page {
  padding-top: 0px; }

@media only screen and (min-width: 767px) {
  .information-area .row {
    display: flex;
    align-items: center; } }

@media only screen and (max-width: 767px) {
  .information-area .col_img_wrapper {
    text-align: center;
    margin-bottom: 20px; }
    .information-area .col_img_wrapper img {
      width: 80%; }
  .information-area p {
    text-align: center !important; } }

.information-area p {
  color: #555555; }

.feature-area .single-feature {
  padding: 40px 30px; }

.network-area {
  padding-top: 120px;
  padding-bottom: 120px; }
  @media (max-width: 768px) {
    .network-area {
      padding-top: 40px;
      padding-bottom: 0px; } }

.daftar-area img {
  width: 90%; }

.daftar-area .col_form_wrapper {
  padding: 50px;
  background-color: #f5f9f9; }

.daftar-area .btn-blue {
  background-color: #00aeef;
  color: #fff;
  width: 100%;
  font-size: 16px;
  padding: 10px 10px; }
  .daftar-area .btn-blue:hover {
    border: 1px solid #00aeef;
    color: #00aeef;
    background-color: #fff;
    transition: 0.3s all ease-in; }

.daftar-area input {
  border-color: #ebebeb;
  padding: 10px 20px;
  height: auto;
  border-radius: 0px;
  font-size: 18px;
  box-shadow: none; }
  .daftar-area input::-webkit-input-placeholder {
    color: #898989;
    font-size: 18px; }
  .daftar-area input:-moz-placeholder {
    color: #898989;
    font-size: 18px; }
  .daftar-area input::-moz-placeholder {
    color: #898989;
    font-size: 18px; }
  .daftar-area input:-ms-input-placeholder {
    color: #898989;
    font-size: 18px; }

.daftar-area .input-group-addon {
  background-color: #00aeef;
  border-radius: 0px;
  border-color: #00aeef;
  color: #fff;
  text-align: center;
  padding: 3px 10px;
  font-size: 24px;
  min-width: 47px; }
  .daftar-area .input-group-addon .fa-envelope {
    font-size: 18px;
    margin-bottom: 7px; }

.info_wrapper {
  padding-top: 150px;
  padding-bottom: 50px; }
  .info_wrapper .main-title .page-title {
    margin-bottom: 10px; }
  .info_wrapper .main-title .sub-title {
    font-weight: 600;
    color: #22233b;
    font-size: 21px; }
  @media (max-width: 992px) {
    .info_wrapper .col-left {
      margin-bottom: 50px; } }
  .info_wrapper .main_content {
    padding-top: 80px; }
    .info_wrapper .main_content .tabs_wrapper {
      color: #22233b; }
      .info_wrapper .main_content .tabs_wrapper .nav-tabs-left {
        border-left: 4px solid #00aeef;
        padding-left: 15px; }
        .info_wrapper .main_content .tabs_wrapper .nav-tabs-left li {
          border-bottom: 1px solid #e6e6e6; }
          .info_wrapper .main_content .tabs_wrapper .nav-tabs-left li a {
            font-weight: 700;
            padding: 15px 0px; }
            .info_wrapper .main_content .tabs_wrapper .nav-tabs-left li a:hover, .info_wrapper .main_content .tabs_wrapper .nav-tabs-left li a:focus, .info_wrapper .main_content .tabs_wrapper .nav-tabs-left li a.active {
              background: transparent;
              color: #00aeef; }
    .info_wrapper .main_content .col-left .tab-content {
      padding-top: 15px; }

.affiliate .red {
  color: red; }

.affiliate .green {
  color: green; }

.affiliate .main-title .page-title {
  margin-bottom: 10px;
  letter-spacing: 2px; }

.affiliate .w-100 {
  width: 100%; }

.affiliate .images_creatives {
  margin-bottom: 25px; }
  @media (min-width: 1024px) {
    .affiliate .images_creatives img {
      width: 90%; } }

.affiliate .form-group {
  margin-bottom: 10px; }
  .affiliate .form-group label {
    font-weight: 500;
    margin-bottom: 5px; }
  .affiliate .form-group input {
    border-radius: 0px; }
  .affiliate .form-group textarea {
    border-radius: 0px; }

.affiliate .btn-blue {
  background-color: #00aeef;
  color: #fff;
  width: 100%;
  font-size: 14px;
  padding: 10px 10px;
  margin-top: 15px;
  border-radius: 0px;
  text-transform: uppercase; }
  .affiliate .btn-blue:hover {
    border: 1px solid #00aeef;
    color: #00aeef;
    background-color: #fff;
    transition: 0.3s all ease-in; }

.affiliate .list_text {
  margin-bottom: 60px; }
  .affiliate .list_text .heading-1 {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 25px;
    letter-spacing: 1px; }
  .affiliate .list_text .heading-2 {
    font-weight: bold;
    margin-bottom: 5px; }
  .affiliate .list_text .text {
    line-height: 1.8;
    margin-bottom: 20px; }

.affiliate .list_form .heading-2 {
  margin-bottom: 15px; }

.affiliate .list_form label {
  font-weight: normal;
  margin-bottom: 8px; }

.affiliate .list_form .detail_wrapper {
  margin-bottom: 25px; }

.affiliate .table_wrapper {
  font-size: 14px;
  margin-bottom: 25px; }
  .affiliate .table_wrapper thead tr th {
    color: #fff;
    text-align: center;
    background-color: #00aeef;
    border: 1px solid #cacaca; }
  .affiliate .table_wrapper tbody td {
    font-weight: bold;
    text-align: center;
    border: 1px solid #cacaca;
    padding: 15px 8px; }
  .affiliate .table_wrapper tbody .empty {
    text-align: left;
    color: #b6b6b6;
    padding: 15px 12px; }

.affiliate .filter_wrapper {
  margin-bottom: 20px; }
  .affiliate .filter_wrapper .btn-blue {
    margin-top: 0px;
    border-radius: 5px;
    padding: 8px 10px;
    width: 80%; }
  .affiliate .filter_wrapper select {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    height: 38px;
    font-size: 15px;
    border-radius: 0px; }
  .affiliate .filter_wrapper input[value="Filter"] {
    background-color: #00aeef;
    color: #fff;
    width: 25%;
    height: 39px;
    margin-left: 15px;
    font-size: 14px;
    padding: 10px 10px;
    border-radius: 0px;
    text-transform: uppercase;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px; }

.affiliate .login_form_wrapper .form-group, .affiliate .register_form_wrapper .form-group {
  margin-bottom: 15px; }

@media (min-width: 992px) {
  .affiliate .col_register {
    border-left: 1px solid #ccc;
    padding-left: 50px; }
  .affiliate .col_login {
    padding-right: 50px; }
  .affiliate .filter_wrapper select, .affiliate .filter_wrapper input[value="Filter"] {
    width: 25%; } }

@media (max-width: 992px) {
  .affiliate .col_register {
    border-top: 1px solid #ccc;
    padding-top: 50px; } }

.faq .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 8px; }

.faq .card-header {
  padding: 10px 20px;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }

.faq .card-header:first-child {
  border-radius: calc(4px - 1px) calc(4px - 1px) 0 0; }

.faq .card-body {
  flex: 1 1 auto;
  padding: 20px; }

.faq .info-box {
  border: 0px;
  margin-bottom: 30px; }

.faq .info-box.active .card-header {
  color: #00aeef; }

.faq .info-box .card-header {
  color: #222222;
  font-weight: bold;
  background-color: #fcfcfc;
  border: 1px solid #eeeeee;
  cursor: pointer; }

.faq .info-box .card-body ol {
  padding-left: 15px; }

.faq .info-box .card-body li {
  padding-left: 10px; }

.faq .info-box.active .card-body {
  display: block; }

.faq .info-box .card-body {
  display: none;
  border: 1px solid #eeeeee;
  border-top: 0px;
  line-height: 1.5; }

.mainmenu-area {
  z-index: 7; }

@media (min-width: 992px) {
  .modal .modal-med {
    max-width: 720px; } }

@media (min-width: 576px) {
  .modal .modal-dialog {
    max-width: 520px; } }

.modal .modal-content {
  border-radius: 4px; }

.modal .modal-header {
  border-bottom: 0px;
  padding: 15px 15px 10px 15px; }

.modal .close {
  float: right;
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  color: #00aeef;
  text-shadow: none;
  opacity: 1;
  border: 1px solid #00aeef;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px; }
  .modal .close:focus {
    outline: none; }
  .modal .close span {
    display: block;
    line-height: 0; }
  .modal .close:hover {
    transition: 0.3s all ease-in;
    background-color: #00aeef;
    color: #fff; }

.modal .modal-body {
  padding: 5px 60px 60px;
  color: #222222; }
  @media (max-width: 425px) {
    .modal .modal-body {
      padding: 5px 30px 30px; } }
  .modal .modal-body .title {
    font-weight: bold;
    color: #222222;
    font-size: 18px;
    margin-bottom: 20px; }
  .modal .modal-body .content {
    color: #222222; }
    .modal .modal-body .content label {
      line-height: 1.4; }
    .modal .modal-body .content .btn {
      padding: 10px 12px; }
  .modal .modal-body .form-control {
    padding: 10px 12px;
    height: 40px;
    border-radius: 0px; }
  .modal .modal-body .btn-blue {
    background-color: #00aeef;
    color: #fff;
    width: 100%;
    font-size: 14px;
    padding: 10px 10px;
    margin-top: 15px;
    border-radius: 0px;
    text-transform: uppercase; }
    .modal .modal-body .btn-blue:hover {
      border: 1px solid #00aeef;
      color: #00aeef;
      background-color: #fff;
      transition: 0.3s all ease-in; }
  .modal .modal-body .form-check {
    font-size: 14px; }
    .modal .modal-body .form-check label {
      font-size: 14px; }
