@import 'mixin';
$font-muli : 'Muli', sans-serif;
$mainblue : #00aeef;




.custom-control {
  position: relative;
  display: block;
  min-height: 24px;
  padding-left: 24px;
}

.custom-control-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 16px;
}

.custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #00aeef;
background-color: transparent;
border: 1px solid #b4b4b4;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 4px rgba(0, 123, 255, 0.25);
}

.custom-control-input:active ~ .custom-control-label::before {
  color: #fff;
background-color: transparent;
border: 1px solid #b4b4b4;
}

.custom-control-input:disabled ~ .custom-control-label {
  color: #6c757d;
}

.custom-control-input:disabled ~ .custom-control-label::before {
  background-color: #e9ecef;
	background-color: transparent;
	border: 1px solid #b4b4b4;
}

.custom-control-label {
  margin-bottom: 0;
  font-weight:normal;
  font-size:15px;
}

.custom-control-label::before {
  position: absolute;
  top: 4px;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  pointer-events: none;
  content: "";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #dee2e6;
	background-color: transparent;
	border: 1px solid #b4b4b4;
}

.custom-control-label::after {
  position: absolute;
  top: 4px;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #00aeef;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
  background-color: #00aeef;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E");
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: rgba(0, 123, 255, 0.5);
}

.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
  background-color: rgba(0, 123, 255, 0.5);
}

.pull-right{
	float:right;
}
.pull-left{
	float:left;
}

.preloade span {
    background: #00aeef;
    background: -webkit-linear-gradient(left, #00aeef, #1387cf);
    background: -webkit-gradient(linear, left top, right top, from(#00aeef), to(#1387cf));
    background: -o-linear-gradient(left, #00aeef, #1387cf);
    background: linear-gradient(to right, #00aeef, #1387cf);
}

.btn-reverse{
	background-color:$mainblue;
	color:#fff;
	&:hover{
		background-color:#fff;
		color:$mainblue;
	}
}

.logo-text{
	font-family: $font-muli;
	font-size:24px;
	font-weight:bold;
	color:#363636;
	img{
		width:100px;
	}
}

.section-pd-top-2{
	@media(max-width:768px){
		padding-top:40px;
	}
}

.space-30,.space-60{
	@media(max-width:768px){
		display:none;
	}
}

.section-padding{
	@media(max-width:768px){
		padding-top: 40px;
    	padding-bottom: 40px;
	}
}

body{
	color:#22233b;
}

.list_text{
	margin-bottom:60px;
	.heading-1{
		font-size:21px;
		font-weight:bold;
		margin-bottom:20px;
	}
	.heading-2{
		font-weight:bold;
		margin-bottom:5px;
	}
	.text{
		line-height:1.8;
		margin-bottom:20px;
	}
}

.page-title{
	@media(max-width:768px){
		text-align:center !important;
	}
}

.mainmenu-area{
	&.border-bottom{
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	.navbar-brand{
		padding: 10px 15px;
		height:auto;
		img{
			width:100px;
		}
	}
	#mainmenu{
		.navbar-bttn{
			font-size:18px;
			padding: 6px 25px;
		}
		.navbar-right .navbar-bttn{
			margin-top:10px;
		}
		.navbar-child-right{
			float:right !important;
		}
		@media(min-width:768px){
			.navbar-child-left{
				float:left !important;
			}			
		}
		.navbar-left,.navbar-child-right,.navbar-child-left{			
			li.active{
				a{
					color:$mainblue;
				}
			}
			a{
				color:#22233b;
				font-size:18px;
				font-weight:bold;	
				&:hover{
					color:$mainblue;
				}			
			}
		}
		@media(max-width:768px){	
			.navbar-right{
				.navbar-child-left{
					margin-bottom:0px;					
				}
			}		
			.navbar-left{
				margin-top:0px;
			}	
		}
	}
}

#home-page{
	background:none;
	@media(min-width:992px){
		padding-bottom: 50px;
		height:auto;
	    padding-top: 180px;		
	}

	@media(max-width:768px){
		padding-bottom:80px;
	}

	.headline{
		font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
		font-size:40px;
		line-height:1.3;
	}
	.channel_logo{
		.link_channel_logo{
			@media only screen and (max-width: 767px) {
				img{
					width:50px;
				}
			}
			@media only screen and (max-width: 390px) {
				img{
					width:35px;
				}
			}
		}
		.arrow_icon{
			margin-left:25px;
			margin-right:25px;
			@media only screen and (max-width: 767px) {
				margin-left:10px;
				margin-right:10px;
				img{
					width:45px;
				}
			}
			@media only screen and (max-width: 390px) {
				margin-left:5px;
				margin-right:5px;
				img{
					width:35px;
				}
			}
		}
	}
}

.service-area{
	.col-why{
		padding-right:45px;
		@media (min-width: 768px){
			// width:28%;
			min-height:185px;
		}
		@media(max-width:768px){
			padding-right:15px;
		}
	}
	.col-custom-why{
		@media (min-width: 768px){
			//width:16%;
			min-height:185px;
		}
	}

	.single-why{
		margin-bottom:50px;
		text-align: center;
		@media (max-width: 768px){
			text-align:center;
			img{
				margin:0 auto;
			}
		}
		.why-icon{
			height:60px;
			margin-bottom:10px;
		    display: flex;
		    justify-content:center;
		    align-items: center;
		}
		.why-title{
			color:#363636;
			line-height:1.3;
			font-size:18px;
			@media (max-width: 768px){
				font-size:14px;
			}
			@media (max-width: 992px){
				font-size:16px;
			}
		}
	}
}

#about-page{
	padding-top:0px;
}

.information-area{
	@media only screen and (min-width: 767px) {
		.row{
		    display: flex;
		    align-items: center;
		}		
	}
	@media only screen and (max-width: 767px) {
		.col_img_wrapper{
			text-align:center;
			margin-bottom:20px;
			img{
				width:80%;
			}
		}
		p{
			text-align:center !important;
		}
	}

	p{
		color:#555555;
	}
}

.feature-area{
	.single-feature{
		padding:40px 30px;
	}
}

.network-area{
	padding-top: 120px;
    padding-bottom: 120px;
    @media(max-width:768px){
		padding-top: 40px;
	    padding-bottom: 0px;

    }
}

.daftar-area{
	img{
		width:90%;
	}
	.col_form_wrapper{
		padding:50px;
		background-color:#f5f9f9;
	}
	.btn-blue{
		background-color:$mainblue;
		color:#fff;
		width:100%;
		font-size:16px;
		padding:10px 10px;
		&:hover{
			border:1px solid $mainblue;
			color:$mainblue;
			background-color:#fff;
			transition:0.3s all ease-in;
		}
	}
	input{
		border-color:#ebebeb;
		padding: 10px 20px;
    	height: auto;
    	border-radius:0px;
    	font-size:18px;
    	box-shadow:none;
    	@include placeholder{
    		color:#898989;
    		font-size:18px;
    	}
	}
	.input-group-addon{
		background-color:$mainblue;
		border-radius:0px;
		border-color:$mainblue;
		color:#fff;
		text-align:center;
		padding:3px 10px;
		font-size:24px;
		min-width:47px;
		.fa-envelope{
			font-size:18px;
			margin-bottom:7px;
		}
	}
}

.info_wrapper{
	padding-top:150px;
	padding-bottom:50px;
	.main-title{
		.page-title{
			margin-bottom:10px;
		}
		.sub-title{
			font-weight: 600;
			color:#22233b;
    		font-size: 21px;
		}
	}
	.col-left{
		@media(max-width:992px){
			margin-bottom:50px;
		}
	}
	.main_content{
		padding-top:80px;
		.tabs_wrapper{
			color:#22233b;
			.nav-tabs-left{
				border-left: 4px solid $mainblue;
    			padding-left: 15px;
    			li{
   				    border-bottom: 1px solid #e6e6e6;
   				    a{
			    	   	font-weight:700;
			    	    padding: 15px 0px;
			    	    &:hover,&:focus,&.active{
			    	    	background:transparent;
			    	    	color:$mainblue;
			    	    }
   				    }
    			}
			}
		}
		.col-left{
			.tab-content{
				padding-top:15px;
			}
		}
	}
}

.affiliate{
	.red{
		color:red;
	}
	.green{
		color:green;
	}
	.main-title{
		.page-title{
			margin-bottom:10px;
   			letter-spacing: 2px;
		}
	}
	.w-100{
		width:100%;
	}
	.images_creatives{
		margin-bottom:25px;
		@media(min-width: 1024px){
			img{
				width:90%;
			}			
		}
	}
	.form-group{
		margin-bottom:10px;
		label{
			font-weight: 500;
			margin-bottom:5px;
		}
		input{
			border-radius:0px;
		}
		textarea{
			border-radius:0px;
		}
	}
	.btn-blue{
		background-color: #00aeef;
	    color: #fff;
	    width: 100%;
	    font-size: 14px;
	    padding: 10px 10px;
	    margin-top:15px;
	    border-radius:0px;
	    text-transform: uppercase;
		&:hover{
			border:1px solid $mainblue;
			color:$mainblue;
			background-color:#fff;
			transition:0.3s all ease-in;
		}
	}
	.list_text{
		margin-bottom:60px;
		.heading-1{
			font-size:21px;
			font-weight:bold;
			margin-bottom:25px;
			letter-spacing: 1px;
		}
		.heading-2{
			font-weight:bold;
			margin-bottom:5px;
		}
		.text{
			line-height:1.8;
			margin-bottom:20px;
		}
	}
	.list_form{
		.heading-2{
			margin-bottom:15px;
		}
		label{
			font-weight: normal;
			margin-bottom:8px;
		}
		.detail_wrapper{
			margin-bottom:25px;
		}
	}
	.table_wrapper{
		font-size:14px;
		margin-bottom:25px;
		thead{
			tr{
				th{
					color:#fff;
					text-align:center;
					background-color:#00aeef;
					border:1px solid #cacaca;
				}
			}			
		}
		tbody{
			td{
				font-weight: bold;
				text-align:center;
				border:1px solid #cacaca;
			    padding: 15px 8px;
			}
			.empty{
				text-align:left;
				color:#b6b6b6;
				padding:15px 12px;
			}
		}
	}
	.filter_wrapper{
		margin-bottom:20px;
		.btn-blue{
		    margin-top: 0px;
		    border-radius: 5px;
		    padding: 8px 10px;
		    width:80%;
		}
		select{
			padding: 6px 12px;
		    font-size: 14px;
		    line-height: 1.42857143;
		    color: #555;
		    background-color: #fff;
		    background-image: none;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		    height: 38px;
		    font-size: 15px;
		    border-radius: 0px;
		}
		input[value="Filter"]{
			background-color: #00aeef;
		    color: #fff;
		    width: 25%;
		    height: 39px;
		    margin-left: 15px;
		    font-size: 14px;
		    padding: 10px 10px;
		    border-radius: 0px;
		    text-transform: uppercase;
		    display: inline-block;
		    padding: 6px 12px;
		    margin-bottom: 0;
		    font-size: 14px;
		    font-weight: 400;
		    line-height: 1.42857143;
		    text-align: center;
		    white-space: nowrap;
		    vertical-align: middle;
		    -ms-touch-action: manipulation;
		    touch-action: manipulation;
		    cursor: pointer;
		    -webkit-user-select: none;
		    -moz-user-select: none;
		    -ms-user-select: none;
		    user-select: none;
		    background-image: none;
		    border: 1px solid transparent;
		    border-radius: 4px;
		}
	}
	.login_form_wrapper,.register_form_wrapper{
		.form-group{
			margin-bottom:15px;
		}
	}
	@media(min-width:992px){
		.col_register{
			border-left:1px solid #ccc;
			padding-left:50px;
		}
		.col_login{
			padding-right:50px;
		}
		.filter_wrapper{
			select,input[value="Filter"]{
				width:25%;
			}

		}
	}
	@media(max-width: 992px){
		.col_register{
			border-top:1px solid #ccc;
			padding-top:50px;
		}
	}
}
.faq{
	.card {
	    position: relative;
	    display: -ms-flexbox;
	    display: flex;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    min-width: 0;
	    word-wrap: break-word;
	    background-color: #fff;
	    background-clip: border-box;
	    border: 1px solid rgba(0, 0, 0, 0.125);
	    border-radius: 8px;
	}
	.card-header {
	    padding: 10px 20px;
	    margin-bottom: 0;
	    background-color: rgba(0, 0, 0, 0.03);
	    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	}
	.card-header:first-child {
	    border-radius: calc(4px - 1px) calc(4px - 1px) 0 0;
	}
	.card-body {
	    -ms-flex: 1 1 auto;
	    flex: 1 1 auto;
	    padding: 20px;
	}
	.info-box {
	    border: 0px;
	    margin-bottom: 30px;
	}
	.info-box.active .card-header {
	    color: $mainblue;
	}
	.info-box .card-header {
	    color: #222222;
	    font-weight: bold;
	    background-color: #fcfcfc;
	    border: 1px solid #eeeeee;
	    cursor: pointer;
	}
	.info-box .card-body ol {
	    padding-left: 15px;
	}
	.info-box .card-body li {
	    padding-left: 10px;
	}
	.info-box.active .card-body {
	    display: block;
	}
	.info-box .card-body {
	    display: none;
	    border: 1px solid #eeeeee;
	    border-top: 0px;
	    line-height: 1.5;
	}
}
.mainmenu-area{
	z-index:7;
}


.modal{
	.modal-med{
		@media (min-width: 992px){
			max-width:720px;		
		}
	}
	@media (min-width: 576px){
		.modal-dialog {
		    max-width: 520px;
		}	
		}
	.modal-content{
		border-radius:4px;
	}
	.modal-header{
		border-bottom:0px;
		padding:15px 15px 10px 15px;
	}
	.close {
	    float: right;
	    font-size: 18px;
	    font-weight:normal;
	    line-height: 1;
	    color: $mainblue;
	    text-shadow:none;
	    opacity:1;
	    border:1px solid $mainblue;
	    border-radius:50%;
	    height: 22px;
    	width: 22px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    margin-top: 0px;
	    &:focus{
	    	outline:none;
	    }
	    span{
	    	display:block;
	    	line-height:0;
	    }
	    &:hover{
	    	transition:0.3s all ease-in;
			background-color: #00aeef;
		    color: #fff;
	    }
	}
	.modal-body{
		padding:5px 60px 60px;
		color:#222222;
		@media(max-width:425px){
			padding:5px 30px 30px;
		}
		.title{
			font-weight:bold;
			color:#222222;
			font-size:18px;
			margin-bottom:20px;
		}
		.content{
			color:#222222;
			label{
				line-height: 1.4;
			}
			.btn{
				padding:10px 12px;
			}
		}
		.form-control{
			padding: 10px 12px;
		    height: 40px;
    		border-radius: 0px;
		}
		.btn-blue{
			background-color: #00aeef;
		    color: #fff;
		    width: 100%;
		    font-size: 14px;
		    padding: 10px 10px;
		    margin-top:15px;
		    border-radius:0px;
		    text-transform: uppercase;
			&:hover{
				border:1px solid $mainblue;
				color:$mainblue;
				background-color:#fff;
				transition:0.3s all ease-in;
			}
		}
		.form-check{
			font-size:14px;
			label{
				font-size:14px;
			}
		}
	}

}